.footer {
  background: #0f172a;
  color: #e5e7eb;
  padding-top: 60px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
  padding: 0 40px 40px;
}

.footer-section {
  max-width: 250px;
  margin-bottom: 20px;
}

.footer-logo {
  color: #3b82f6;
  margin-bottom: 12px;
  font-size: 22px;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 12px;
  color: white;
}

.footer-section p {
  line-height: 1.6;
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  text-decoration: none;
  /* color: #d1d5db; */
  color: #9ca3af;
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  transition: 0.2s;
}

.footer-section a:hover {
  color: white;
  padding-left: 4px;
}

.footer-bottom {
  text-align: center;
  /* border-top: 1px solid #374151; */
  border-top: 1px solid #1f2937;
  padding: 18px;
  font-size: 14px;
  color: #9ca3af;
}

/* Tablet */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

/* Mobile */
@media (max-width: 550px) {
  .footer {
    padding-top: 40px;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 0 20px 30px;
  }

  .footer-section {
    max-width: 100%;
  }

  .footer-section a:hover {
    padding-left: 0;
  }
}
